body{
	margin:0 auto;
	margin-top:0px;
	padding:0;
	width:100%;
}
div{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#000;
}
#cont{
	margin:0 auto;
	width:100%;
	height:556px;
	background:url(../default/images/jiaoshi/background.jpg) repeat-x;
}
#date{
	;
}
#tb{
	margin-top:10px;
	height:540px;
	padding-right:5px;
	background:url(../default/images/jiaoshi/gezi.jpg) no-repeat;
	z-index:-999;
}
#table2{
	width:87%;
	height:85%;
	text-align:center;
	font-size:15px;
	border:0;
	padding:0;
	margin-left:-27px;
	overflow:hidden;
	table-layout:fixed;
}
#table2 td{
	height:65px;
	width:105px;	
}

#right2{
	float:left;
	display:inline;
	width:58%;
	margin-left:140px;
	background:url(../default/images/jiaoshi//background.jpg) repeat-x;
}
.yy{
	background:#CF3;
}
.pp{
	background:#F6F;
}
.gg{
	background:#0F3;
}
.bb{
	background:#6CF;
}
#mark{
	font-size:13px;

}
#top_mark{
	font-size:14px;
}
.week{
	text-align:center;
}
